/* Small Screen */
.container {
    background-color: #06D6A0;
    padding: 2rem;
    color: #fff;
  }
  
  .header {
    display: flex;
    flex-direction: column;
  }
  
  .header_brand {
    font-size: 2.4rem;
    margin-bottom:0;
    cursor: pointer;
  }
  
  .header_list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-top:1rem;
  }

  .header_right{
    display: flex;
  }
  .header_right_hide{
    display: none;
  }

  .header_left {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header_item {
    margin-bottom: 1rem;
    cursor: pointer;
  }

  

  
  /* Medium Screen */
  @media (min-width: 768px) {
    .header {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  
    .header_brand {
      margin-bottom: 0;
    }
  
    .header_list {
      flex-direction: row;
    }
  
    .header_item {
      margin: 0 1rem;
    }
  }
  
  @media (min-width: 992px) {

  }